@media (max-width: 1420px) {
  .skills {
    column-gap: 10% !important;
  }
}
@media (max-width: 1236px) {
  .skills {
    justify-content: space-around !important;
  }
}
@media (max-width: 1030px) {
  .skills{
  margin-top: 100px !important;
  }
}
@media (max-width: 779px) {
  .skillbox {
    width: 200px !important;
  }
  .skillbox h2 {
    font-size: 30px !important;
  }
  .skillbox p {
    font-size: 14px !important;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 3vw;
  }
  header {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .photo {
    width: 100vw !important;
    height: 150vw !important;
    left: 0px !important;
    top: 50px;
    opacity: 0.3;
  }
  .rings {
    display: none;
  }
  .photo img {
    width: 100%;
  }
  .intro {
    margin-top: 100px;
  }
  .circle {
    display: none;
  }
  .container {
    padding-inline: 15px;
  }
  .heading {
    width: 100%;
    font-size: 3.5em;
  }
  .skillbox {
    width: 120px !important;
  }
  .skillbox h2 {
    font-size: 20px !important;
  }
  .skillbox p {
    font-size: 10px !important;
  }
  .skills{
    margin-top: 40vw !important;
    }
}
