@media (max-width: 1280px) {
  .photo {
    width: 322px !important;
    height: 600px !important;
    left: calc(100vw - 350px) !important;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 3vw;
  }
  header {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .photo {
    width: 100vw !important;
    height: 150vw !important;
    left: 0px !important;
    top: 50px;
    opacity: 0.3;
  }
  .rings{
    display: none;
  }
  .photo img{
    width: 100%;
  }
  .intro{
    margin-top: 100px;
  }
  .circle{
    display: none;
  }
  .container{
    padding-inline: 15px;
  }
  .heading{
    width: 100%;
    font-size: 3.5em;
  }
}
