.startBackground {
  height: 100vh;
  width: 100vw;
  background-color: #1d1d1d;
  position: relative;
}

.startBackground .button {
  width: 300px;
  height: 120px;
  position: relative;
  border-radius: 15px;
  border: 5px solid transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), to(#1d1d1d)) padding-box, -webkit-gradient(linear, left top, right top, from(#39FF14), to(#ffff00)) border-box;
  background: linear-gradient(#1d1d1d, #1d1d1d) padding-box, linear-gradient(to right, #39FF14, #ffff00) border-box;
  -webkit-box-shadow: inset 0px 0px 4px #39FF14;
          box-shadow: inset 0px 0px 4px #39FF14;
  z-index: 2;
  cursor: pointer;
  -webkit-animation: sparkle 5s infinite linear alternate;
          animation: sparkle 5s infinite linear alternate;
}

.startBackground .button:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(57, 255, 20, 0.3)), to(rgba(255, 255, 0, 0.3))) padding-box;
  background: linear-gradient(to right, rgba(57, 255, 20, 0.3), rgba(255, 255, 0, 0.3)) padding-box;
  -webkit-box-shadow: inset 0px 0px 10px #39FF14;
          box-shadow: inset 0px 0px 10px #39FF14;
}

.startBackground .button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#39FF14), to(#ffff00));
  background: linear-gradient(to right, #39FF14, #ffff00);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(1.2rem) rotateX(30deg) scale(1.3, 0.4);
          transform: perspective(1.2rem) rotateX(30deg) scale(1.3, 0.4);
  -webkit-filter: blur(1em);
          filter: blur(1em);
  opacity: 0.3;
  -webkit-animation: sparkle2 5s infinite linear alternate;
          animation: sparkle2 5s infinite linear alternate;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.startBackground .button:hover::after {
  opacity: 0.9;
  -webkit-animation: none;
          animation: none;
}

.startBackground .bg_shadow {
  width: 300px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 15px;
  border: 10px solid transparent;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d1d1d), to(#1d1d1d)) padding-box, -webkit-gradient(linear, left top, right top, from(#39FF14), to(#ffff00)) border-box;
  background: linear-gradient(#1d1d1d, #1d1d1d) padding-box, linear-gradient(to right, #39FF14, #ffff00) border-box;
  z-index: 1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-animation: sparkle 5s infinite linear alternate;
          animation: sparkle 5s infinite linear alternate;
}

.startBackground .text {
  font-size: 60px;
  color: black;
  font-weight: bolder;
  text-shadow: 0 0 10px #ffff00, 0 0 20px #39FF14;
  -webkit-animation: sparkle 5s infinite linear alternate;
          animation: sparkle 5s infinite linear alternate;
}

#stopAnimation {
  -webkit-animation: none;
          animation: none;
  text-shadow: none;
}

#light {
  -webkit-animation: none;
          animation: none;
  border: 20px solid transparent;
}

@media (max-width: 1100px) {
  .button::after {
    display: none;
  }
}

@-webkit-keyframes sparkle {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  27% {
    opacity: 0.8;
  }
  29% {
    opacity: 1;
  }
  31% {
    opacity: 0.5;
  }
  33% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  77% {
    opacity: 0.8;
  }
  79% {
    opacity: 1;
  }
  81% {
    opacity: 0.5;
  }
  83% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sparkle {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  27% {
    opacity: 0.8;
  }
  29% {
    opacity: 1;
  }
  31% {
    opacity: 0.5;
  }
  33% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  77% {
    opacity: 0.8;
  }
  79% {
    opacity: 1;
  }
  81% {
    opacity: 0.5;
  }
  83% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sparkle2 {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.3;
  }
  27% {
    opacity: 0.25;
  }
  29% {
    opacity: 0.3;
  }
  31% {
    opacity: 0.2;
  }
  33% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.3;
  }
  77% {
    opacity: 0.25;
  }
  79% {
    opacity: 0.3;
  }
  81% {
    opacity: 0.2;
  }
  83% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes sparkle2 {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.3;
  }
  27% {
    opacity: 0.25;
  }
  29% {
    opacity: 0.3;
  }
  31% {
    opacity: 0.2;
  }
  33% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.3;
  }
  77% {
    opacity: 0.25;
  }
  79% {
    opacity: 0.3;
  }
  81% {
    opacity: 0.2;
  }
  83% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}
/*# sourceMappingURL=Start.css.map */